element.style {
}
*, *::before, *::after {
    box-sizing: border-box;
}
:host, :host(.dark) {
    --bot-bubble-bg: #60cd184d;
    --overlay-bg: #00000033;
    --primary-btn-color: #0092e1;
    --primary-btn-text-color: #fff;
    --btn-hover-color: #0092e1;
}
:host {
    --bg-color: #fff;
    --secondary-bg-color: #fff;
    --text-color: #333;
    --bubble-text-color: #333;
    --footer-text-color: #868686;
    --icon-btn-border: 1.556px solid #cecece;
    --messages-btn-border: 1px solid #1a1a1a;
    --container-border: 1px solid #cecece;
    --border-shadow: 0px 2px 6px 0px rgba(0, 0, 0, .15);
    --agent-bubble-bg: #41B0EE4D;
    --customer-bubble-bg: #CECECE4D;
    --name-label-color: #45b400;
    --secondary-btn-text-color: #007ac7;
    --message-btn-hover-color: #cecece;
    --input-disabler-color: #333;
    --input-disabler-text-color: #fff;
    --notification-bubble-color: #f03529;
    --icon-bot: url(https://seb.ee/sites/default/files/bus_apps/chat_v2/prodPW/images/icon-bot.svg);
    --icon-bot-bubble: url(https://seb.ee/sites/default/files/bus_apps/chat_v2/prodPW/images/icon-bot-bubble.svg);
    --icon-close: url(https://seb.ee/sites/default/files/bus_apps/chat_v2/prodPW/images/icon-close.svg);
    --icon-like: url(https://seb.ee/sites/default/files/bus_apps/chat_v2/prodPW/images/icon-like.svg);
    --icon-like-active: url(https://seb.ee/sites/default/files/bus_apps/chat_v2/prodPW/images/icon-like-active.svg);
    --icon-dislike: url(https://seb.ee/sites/default/files/bus_apps/chat_v2/prodPW/images/icon-dislike.svg);
    --icon-dislike-active: url(https://seb.ee/sites/default/files/bus_apps/chat_v2/prodPW/images/icon-dislike-active.svg);
    --icon-minimize: url(https://seb.ee/sites/default/files/bus_apps/chat_v2/prodPW/images/icon-minimize.svg);
    --icon-agent: url(https://seb.ee/sites/default/files/bus_apps/chat_v2/prodPW/images/icon-agent.svg);
    --icon-chat: url(https://seb.ee/sites/default/files/bus_apps/chat_v2/prodPW/images/icon-chat.svg);
    --icon-menu: url(https://seb.ee/sites/default/files/bus_apps/chat_v2/prodPW/images/icon-menu.svg);
    --icon-info: url(https://seb.ee/sites/default/files/bus_apps/chat_v2/prodPW/images/icon-info.svg);
    --icon-feedback: url(https://seb.ee/sites/default/files/bus_apps/chat_v2/prodPW/images/icon-feedback.svg);
    --icon-cross: url(https://seb.ee/sites/default/files/bus_apps/chat_v2/prodPW/images/icon-cross.svg);
}
body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
:root {
    --bs-breakpoint-xs: 0;
    --bs-breakpoint-sm: 576px;
    --bs-breakpoint-md: 768px;
    --bs-breakpoint-lg: 957px;
    --bs-breakpoint-xl: 1200px;
    --bs-breakpoint-xxl: 1440px;
}
:root, [data-bs-theme=light] {
    --bs-blue: #0092E1;
    --bs-indigo: #6610f2;
    --bs-purple: #673AB6;
    --bs-pink: #d63384;
    --bs-red: #F03529;
    --bs-orange: #fd7e14;
    --bs-yellow: #FFC500;
    --bs-green: #60cd18;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: black;
    --bs-white: white;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0092E1;
    --bs-secondary: #6c757d;
    --bs-success: #60cd18;
    --bs-info: #673AB6;
    --bs-warning: #FFC500;
    --bs-light: #F6F6F6;
    --bs-dark: #333;
    --bs-darker: #1A1A1A;
    --bs-primary-rgb: 0, 146, 225;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 96, 205, 24;
    --bs-info-rgb: 103, 58, 182;
    --bs-warning-rgb: 255, 197, 0;
    --bs-light-rgb: 246, 246, 246;
    --bs-dark-rgb: 51, 51, 51;
    --bs-darker-rgb: 26, 26, 26;
    --bs-primary-text-emphasis: #003a5a;
    --bs-secondary-text-emphasis: #2b2f32;
    --bs-success-text-emphasis: #26520a;
    --bs-info-text-emphasis: #055160;
    --bs-warning-text-emphasis: #664f00;
    --bs-danger-text-emphasis: #601510;
    --bs-light-text-emphasis: #495057;
    --bs-dark-text-emphasis: #495057;
    --bs-primary-bg-subtle: #cce9f9;
    --bs-secondary-bg-subtle: #e2e3e5;
    --bs-success-bg-subtle: #dff5d1;
Show all properties (67 more)
}
*, *::before, *::after {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: border-box;
}